.login-box {
  font-family: sans-serif;
  padding: 15px;
  min-width: 270px;
  min-height: 350px;
  padding-bottom: 15px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 15px 20px rgba(150, 150, 150, 0.65);
}
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}
.login-box .user-box {
  position: relative;
}

.login-box .user-box #iptext {
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  color: black;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid darkblue;
  outline: none;
  background-color: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: 0.5s;
}
a {
  text-decoration: none;
  color: blue;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: blue;
  font-size: 12px;
}
.saveuser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.forgotpass a:hover {
  color: red;
}
.sub {
  text-align: center;
  margin-top: 20px;
}
.sub input {
  padding: 8px 16px;
  margin-top: 0px;
  border: 2px;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.end {
  margin-top: 20px;
  padding-left: 0px;
}
.end a:hover {
  color: red;
}
